<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>Control de Stock</title>

     

    

    <!-- Bootstrap core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="css/dashboard.css" rel="stylesheet">
  </head>
  <body>
    
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="/" style="background-color: #1b5633;">La Naviera</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
  <div class="navbar-nav">
    <div class="nav-item text-nowrap">
      <a type="button" class="nav-link px-3" href="logout">Logout</a>
    </div>
  </div>
</header>

<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a href="/" class="nav-link active" aria-current="page" style="color:black;">
              <span  data-feather="home"></span>
              Dashboard
            </a>
          </li>
          <li class="nav-item">
            <a href="/salidas" class="nav-link">
              <span data-feather="file"></span>
              Salidas
            </a>
          </li>
          <li class="nav-item">
            <a href="/create" class="nav-link" href="#">
              <span data-feather="shopping-cart"></span>
              Entradas
            </a>
          </li>
         
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="bar-chart-2"></span>
              Stock Actual
            </a>
          </li>
          
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Opciones</span>
          <a class="link-secondary" href="#" aria-label="Add a new report">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        
      </div>
    </nav>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
         
        <h1 class="h2">Stock Actual</h1>

        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Entradas</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
          </div>
          <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar"></span>
            This week
          </button>
        </div>
      </div>

       
 
      <div class="table-responsive">

        <table class="table table-striped table-sm">
          <div class="container" style="margin-top: 10px;">
            <a href="/create" class="btn btn-outline-primary btn-sm">Agregar</a>    
            <a href="/salidas" class="btn btn-outline-success btn-sm">Salidas</i></a> 
          
            <div>
           
               <div  class="col-md-4">
                 <label for="producto" class="form-label">Producto</label>
                 <select name="producto" id="producto" class="form-select" style="width: 250px;">
                 
                  <option selected>Tacos Cabeza Rape</option>
                  <option selected>Cabeza Rape Fresco</option>
                  <option selected>Rabas de Poton(PATATAS)</option>
                  <option selected>Rejos Poton IQF (500-1000)</option>
                  <option selected>Rejos Poton IQF (1000-2000)</option>
                  <option selected>Rodaja Maruca</option>
                  <option selected>Filete Caballa</option>
                  <option selected>Gallo (100-200)</option>
                  <option selected>Cabeza Rape Bloque</option>
                  <option selected>Rejo Bandeja (500)</option>
                  <option selected>Filete De Lirio (40-60)</option>
                  <option selected>Filete de Merluza (150-250)</option>
                  <option selected>Lomo Caella (1/2-2KG)</option>
                  <option selected>Lomo Caella (2-3KG)</option>
                  <option selected>Rodaja Caella SP H/G CONG. IQF</option>
                  <option selected>Vieira del Pacifico (10-20)</option>
                  <option selected>Vieira del Pacifico (20-30)</option>
                  <option selected>Recortes de Salmon Cong Bloq</option>
                  <option selected>Cola de Merluza (250-350)</option>
                  <option selected>Cogote de Merluza 2CM Cong</option>
                  <option selected>Calamar Azores Envuelto (2000-3000)</option>
                  <option selected>Calamar Azores Envuelto (3000+)</option>
                  <option selected>Calamar Boston Cong Bandeja</option>
                  <option selected>Calamar Patagonico Troceado (1KG)</option>
                  <option selected>Calamar Patagonico IQF</option>
                  <option selected>Pota Rejo Cong Bandeja (1KG)</option>
                  <option selected>Pota Tubo Troceado Cong Bandeja (1KG)</option>
                  <option selected>Pota Gran Sol IQF</option>
                  <option selected>Porciones Salmon Salar 2PX (140GR)</option>
                  <option selected>Rodaja de Caella</option>
                  <option selected>Merluza Carioca (100-200)</option>
                  <option selected>Calamar Envuelto (300-500)</option>
                  <option selected>Cola de Rape Cong</option>
                  <option selected>Puntilla de Japon</option>
                  </select>
                  <a href="/filtrar" class="btn btn-outline-secondary btn-sm">Filtrar Producto</a>
              </div>
             
            
            <a href="/bergondo" class="btn btn-outline-primary btn-sm">Mercancías Alamacenes Bergondo</a>
            <a href="/corunesa" class="btn btn-outline-secondary btn-sm">Mercancías Alamacenes Coruñesa</a>
            <a href="/Restaurar" class="btn btn-outline-success btn-sm">Restaurar</a>
             
            <table class="table table-bordered table-striped text-center mt-4"  style="margin-top: 10px;">
            
                <thead>
              <tr class="bg-primary text-white">
                  <th scope="col">
                      ID
                  </th>
                  <th scope="col">
                      Fecha
                  </th>
                  <th scope="col">
                      Codigo
                  </th>
                  <th scope="col">
                      Producto
                  </th>
                  <th scope="col">
                      Alamacén
                  </th>
                  <th scope="col">
                      C. de Cajas 
                  </th>
                  <th scope="col">
                      K. x Cajas
                  </th>
                  <th scope="col">
                      K. Totales
                  </th>
                  <th scope="col">
                      Glaseo
                  </th>
                  <th scope="col">
                      Lote  
                  </th>
                  <th scope="col">
                      Cliente 
                  </th>
                  <th scope="col">
                      N. de Palet
                  </th>
                  <th>Acciones</th>
              </tr>
          </thead>
          <tbody>
            <% results.forEach((valor)=>{ %> 
            <tr>
                <td><%= valor.id %> </td>
                <td><%= valor.fecha_entrada %></td>
                <td><%= valor.codigo %></td>
                <td><%= valor.producto %></td>
                <td><%= valor.almacen %></td>
                <td><%= valor.cajas %></td>
                <td><%= valor.kilos_cajas %></td>
                <td><%= valor.kilos_totales %></td>
                <td><%= valor.glaseo %></td>
                <td><%= valor.lote %></td>
                <td><%= valor.cliente %></td>
                <td><%= valor.no_palet %></td>
                <td style="display:inline-flex;" style="margin-bottom: 2px; margin-right: 2px; margin-left: 2px;">
                    <a href="/modificar/<%= valor.id %>" class="btn btn-outline-info" >Editar</a>
                    <a href="/delete/<%= valor.id %>" class="btn btn-outline-danger">Borrar</a>
                    <a href="/despacho/<%= valor.id %>" class="btn btn-success">Despacho</a>
                </td>
          </tr>
          <%})%>
        </tbody>
            </div>  

         
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>




        </table>
      </div>
    </main>
  </div>
</div>


    <script src="js/bootstrap.bundle.min.js"></script>

      <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script><script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script><script src="dashboard.js"></script>
  </body>
</html>